<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>About Me</h2>
            <p>I am a dedicated web developer passionate about creating elegant and efficient solutions to complex problems. </p>
            <p>My journey in web development began during my college years, where I discovered my love for building interactive and visually appealing websites. Since then, I have honed my skills in front-end and back-end development, mastering technologies such as HTML, CSS, JavaScript, Ruby on Rails, and more.</p>
            <p>As a lifelong learner, I am always seeking to expand my knowledge and stay up-to-date with the latest trends and technologies in the rapidly evolving field of web development. I am committed to delivering high-quality work and exceeding client expectations.</p>
        </div>
        <div class="col-md-4">
            <h2>Skills</h2>
            <ul>
                <li>Ruby on Rails</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
                <li>SQL</li>
                <li>Git</li>
            </ul>
        </div>
    </div>
</div>