<h1>Welcome to My Portfolio Website</h1>
  <div class="intro">
  <h3>Computer science</h3>
  <p>Computer science is the study of computation, information, and automation. Computer science spans theoretical disciplines (such as algorithms, theory of computation, and information theory) to applied disciplines (including the design and implementation of hardware and software). Though more often considered an academic discipline, computer science is closely related to computer programming.</p>
</div>