<div class="container">
    <h2>Portfolio</h2>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <p class="card-text">Technologies used: {{ project.technologies }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>